/*Page-Wide*/

body {
  background-color: rgb(68, 179, 54);
  color: green;
  padding: 5px;
  font-family: 'Judson', serif;
}

/*Paragraph*/

.text {
  background-color: rgb(193, 232, 188);
  color: rgb(39, 59, 36);
  padding: 5px;
  line-height: 2em;
}
#heading-1 {
  font-family: 'quando', serif;
  color: rgb(39, 59, 36);
  text-align: center;
}

h2{
  font-family: quando; serif;
  text-align: center;
  letter-spacing: .01em
  line-height: 0.75em

}

p:first-letter {
  font-family: 'Quando', serif;
  font-style: italic;
  font-size: 2em;
  font-weight: 500;
  color: rgb(68, 179, 54)
}
.p1 {
  font-family: 'Judson', serif;
  font-size: 16pt;
}
.p2 {
  font-family: 'Judson', serif;
  font-size: 16pt;
}
.p3 {
  font-family: 'Judson', serif;
  font-size: 16pt;
}
.p4 {
  font-family: 'Judson', serif;
  font-size: 16pt;
}
.p5 {
  font-family: 'Judson', serif;
  font-size: 16pt;
}
.p6 {
  font-family: 'Quando', serif;
  font-size: 24pt;
  text-align: center;
  color: rgb(68, 179, 54)
}


/*links*/

a {
  background-color: rgb(193, 232, 188);
  color: rgb(39, 59, 36);
  padding: 5px;
}

a:hover {
  font-style: italic;
}

a:visited {
  color: rgb(245, 7, 27);
}

a:active {
  background-color: rgb(39, 59, 36);
  color: rgb(193, 232, 188);

}
