body {
  background-color: #FFBB37;
  opacity: rgba(255, 187, 55, .08);

  /*I want to add "pacfont" font to my page*/
  /*wanted my color codes.
  orange #FFBB37/ 255, 187, 55
  pink  #FF377B/ 255,55,123
  purple #853AFC/ 133, 58, 252
  green #37FF57/ 55, 255, 87
  yellow #DFFF37/ 223, 255, 55
  blue #3AB1FC/58, 177, 252*/
}


p {
  color: #37FF57;
  font-family: Impact;
  font-size: 30px
}

h1 {
  color: #853AFC;
  text-align: center;
  font-size: 60px;
  font-family: Impact;
}

.Triangle{
  background-color: #37FF57
  opacity:.05;

}

.square1{
  width: 100%;
  height: 500px;
  text-align: center;
}

#pink {
  background-color: #FF377B;
}

h2 {
  color: #FF377B;
  font-size: 40px;
  Font-family: Impact;

}

h3 {
  color: #FF377B;
  font-size: 90px;
  Font-family: Impact;
  position: fixed;
  right: 50px;
  top: 150px;

}

h4 {
  color: #FF377B;
  font-size: 80px;
  Font-family: Impact;
  position: fixed;
  left: 10px;
  top: 200px;

}


.square{
  width: 562px;
  position:absolute;
  right: 0px;
}

.square2{
  width: 760px;
  position:relative;
  left: 0px;

}

.square3{
  width: 1330px;
  position:relative;
  right: 0px;


}
.square4{
  width: 1650px;
  position:relative;
  left: 0px;

}


#purple {
  background-color: #853AFC;
}

#green {
  background-color: #37FF57;
}

#yellow {
  background-color: #DFFF37;
}

#blue {
  background-color: #3AB1FC;
}
