body {
  background-color: orange
  /*I want to add pacfont to my page*/
}

h1 {
  color: black
  text-align: center;
  padding:inherit;
}

.square1{
  width: 100%;
  height: 100px;
  text-align: center;
}

#pink {
  background-color: #FF377B;
}

h2 {
  color: black
  text-align:center;
}

.square{
  width: 100%;
  height: 500px;
  content-align: center;
}

#purple {
  background-color: #800080;
}

#green {
  background-color: #7DE522;
}

#yellow {
  background-color: #FBE608;
}

#blue {
  background-color: #3AB1FC;
}
