body {
  background-color: #FFBB37
  opacity: 0.5;
  /*I want to add "pacfont" font to my page*/
  /*wanted my color codes.
  orange #FFBB37/ 255, 187, 55
  pink  #FF377B/ 255,55,123
  purple #853AFC/ 133, 58, 252
  green #37FF57/ 55, 255, 87
  yellow #DFFF37/ 223, 255, 55
  blue #3AB1FC/58, 177, 252*/
}

.Triangle{
  color: #853AFC
  width: 15%;
  height: 100px;
  position: fixed;
  right: 100px;
  top: 200px;

}

p {
  color: #37FF57;
  font-family: Impact;
}

h1 {
  color: #853AFC;
  text-align: center;
  font-size: 60px;
  font-family: Impact;
}

.square1{
  width: 100%;
  height: 300px;
  text-align: center;
}

#pink {
  background-color: #FF377B;
}

h2 {
  color: #FF377B;
  font-size: 40px;
  Font-family: Impact;

}

.square{
  width: 30%;
}
.square2{
  width: 90%;
}
.square3{
  width: 72%;
}
.square4{
  width: 42%;
}


#purple {
  background-color: #853AFC;
}

#green {
  background-color: #37FF57;
}

#yellow {
  background-color: #DFFF37;
}

#blue {
  background-color: #3AB1FC;
}
