/*css for navigation*/


/*menu bar (container):*/
menu {
  margin: 0;
  padding: 0;
  background-color: rgb(206,7,47); /*red*/

}

/*Top*/
#site-links {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#site-links .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;
  background-color:  rgb(206,7,47); /*red*/
  text-align: center;
  color:rgb(145,206,7);/*Green 1*/
}

#site-links .menu-item:hover {
background-color: rgb(145,206,7);/*Green 1*/
color: rgb(68, 7, 206);/*Blue*/
text-decoration: overline underline;
text-decoration-color:  rgb(68, 7, 206);/*Blue*/
text-decoration-style: wavy;
}

/*drop down:*/
#site-links .dropdown {
  display: inline-block;
  width: 6em;
}

#site-links .dropdown-content {
  display: none;
  position: absolute;
  z-index: 5
  background-color:  rgb(206,7,47); /*red*/
}

#site-links .dropdown-content a {
  background-color:  rgb(206,7,47); /*red*/
  text-align: center;
  color:rgb(145,206,7);/*Green 1*/
}

#site-links .dropdown-content a:hover {
  display: block;
  color: rgb(68, 7, 206);/*Blue*/
  font-style: italic;
}

#site-links .dropdown:hover .dropdown-content {
  display: block;
}

#site-links .dropdown-item {
  min-width: 6em;
  padding: .5em 1em;
  display: block;
  text-align: center;
}

#site-links .dropdown-item:hover {
color: rgb(68, 7, 206);/*Blue*/
font-style: italic;
}

/*social media:*/
#social {
  display: inline-block;
  padding:  1em 1em 1em 1em;
  float: right;

}

#social .social-item {
  margin: 5px;
  border: solid;
  color: rgb(145,206,7);/*Green 1*/
}
#social img:hover {
  color: rgb(68, 7, 206);/*Blue */
}
