/*Colors=
Purple:#AB41AE (171, 65, 174) purple
Brown: ##AE7441 (174, 116, 65) brown
Green: ##44AE41 (68, 174, 65) green
Blue: ##417BAE (65, 123, 174) blue
*/

/*css for navigation*/
/*menu bar (container):*/
menu {
  margin: 0;
  padding: 0;
  background-color: rgb(171, 65, 174); /*purple*/

}

/*Top*/
#site-links {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#site-links .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;
  background-color:  rgb(171, 65, 174); /*purple*/
  text-align: center;
  color:rgb(68, 174, 65); /*green*/
}

#site-links .menu-item:hover {
background-color: rgb(68, 174, 65); /*green*/
color: rgb(65, 123, 174); /*blue*/
text-decoration: overline underline;
text-decoration-color:  rgb(65, 123, 174); /*blue*/
text-decoration-style:dashed;
}

/*drop down:*/
#site-links .dropdown {
  display: inline-block;
  width: 6em;
}

#site-links .dropdown-content {
  display: none;
  position: absolute;
  z-index: 5
  background-color:  rgb(171, 65, 174); /*purple*/
}

#site-links .dropdown-content a {
  background-color:  rgb(171, 65, 174); /*purple*/
  text-align: center;
  color:rgb(68, 174, 65); /*green*/
}

#site-links .dropdown-content a:hover {
  display: block;
  color: rgb(65, 123, 174); /*blue*/
  font-style: italic;
}

#site-links .dropdown:hover .dropdown-content {
  display: block;
}

#site-links .dropdown-item {
  min-width: 6em;
  padding: .5em 1em;
  display: block;
  text-align: center;
}

#site-links .dropdown-item:hover {
color: rgb(65, 123, 174); /*blue*/
font-style: italic;
background-color: rgb(68, 174, 65); /*green*/
}

/*social media:*/
#social {
  display: inline-block;
  padding:  1em 1em 1em 1em;
  float: right;

}

#social .social-item {
  margin: 5px;
}

#social img {
  width: 25px;
  Height: 25px;
  opacity: .75;
  padding-bottom: 1em;
}

#social img:hover {
  width: 30px;
  Height: 30px;
  opacity: 1;
}
