/*Colors=
Purple:#AB41AE (171, 65, 174) purple
Brown: ##AE7441 (174, 116, 65) brown
Green: ##44AE41 (68, 174, 65) green
Blue: ##417BAE (65, 123, 174) blue
*/
/*Fonts=
font-family: 'Dosis', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
*/


body {
  z-index: 1;
  margin: 0;
  background-color: rgb(174, 116, 65); /*brown*/
  color: rgb(68, 174, 65); /*Green*/
  padding: 50px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.text {
  background-color: rgb(174, 116, 65); /*brown*/
  color: rgb(68, 174, 65); /*Green*/
  padding: 5px;
  line-height: 2em;
  text-decoration: none;
}

/*About*/

.container {
  background-color:rgb(65, 123, 174); /*blue*/
  position: relative;
  top:;
  width:90%;
  height:;
  margin: 50px;
  border: 2px solid rgb(68, 174, 65); /*Green*/
  align: center;

}

.container img {
  border: 2px solid rgb(68, 174, 65); /*Green*/
  align: center;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  color: rgb(171, 65, 174); /*purple*/
  text-align: center;
  text-decoration: none;
}


h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  color: rgb(171, 65, 174); /*purple*/
  text-align: center;
  text-decoration: none;
}

p:first-letter {
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: 2em;
  font-weight: 500;
  color: rgb(68, 174, 65); /*Green*/
}

/*Spring-Flowers*/

.Spring-Flowers {
  background-color: rgb(65, 123, 174); /*blue*/
  position: relative;
  top:75px;
  width:300px;
  height: 500px;
  margin: 50px;
  border: 2px solid rgb(68, 174, 65); /*Green*/
  float:left;

}
.Spring-Flowers h3:hover {
  color: rgb(171, 65, 174); /*purple*/
  font-style: italic;
}
