/*Page-Wide*/

body {
  margin: 0;
  background-color: rgb(68, 94, 184);
  color: rgb(184, 68, 94);/*Mauve*/
  padding: 50px;
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
}

.text {
  background-color: rgb(68, 152, 184);/*teal*/
  color: rgb(184, 68, 94);/*Mauve*/
  padding: 5px;
  line-height: 2em;
}

/*Fixed Bar*/
.site {
  z-index: 1;
  background-color: rgb(68, 152, 184);/*teal*/
  width: 100%;
  height: 200px;
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
}

logo {
  z-index: 2;
  top: 0px;
  left:0px;
}

/*Navigation Bar*/
.navigation {
  background-color: rgb(68, 152, 184);/*teal*/
  width:100%;
  height:50px;
  padding: 20px;
  position: fixed;
  top: 200px;
  right: 0px;

}
.navigation a{
  display:inline-block;
  margin: 2em;
  text-decoration:none;
  color:inherit;
}
.navigation a:hover {
  font-style: italic;
}
/*social*/

.social {
  background-color: inherit;
  width:inherit;
  bottom: 0;
}
.social img {
  z-index: 5;
  float: right;
}

.social img:hover{
  margin-bottom: 2.5em;
}


/*Activities*/

.activities {
  background-color: rgb(68, 152, 184);/*teal*/
  width:100%;
  height: 400px;
  margin-top: 250px;
  display: inline;
}
.Adult {
border-style: solid;
color: black;

}

.Kid {
  border-style: solid;
  color: black;
}

.Family {
  border-style: solid;
  color: black;
}

/*Paragraph*/

.main {
  background-color: rgb(68, 152, 184);/*teal*/
  color: rgb(184, 68, 94);/*Mauve*/
  border:;
  padding:50px;
  overflow: scroll;
}

h1 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  color: Black;
  text-align: center;
  letter-spacing: 4em
  line-height: 2em
}

h2{
  font-family: 'Alegreya', serif;
  text-align: center;
  letter-spacing: .01em
  line-height: 0.75em

}


</body>
