/*Page-Wide*/

body {
  margin: 0;
  background-color: rgb(68, 94, 184);/*periwinkle*/
  color: rgb(184, 68, 94);/*Mauve*/
  position: relative;
  padding: 50px;
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 0.75em;
}

.text {
  background-color: rgb(68, 152, 184);/*teal*/
  color: rgb(184, 68, 94);/*Mauve*/
  padding: 5px;
  line-height: 2em;
}

/*Fixed Bar*/
.site {
  z-index: 1;
  background-color: rgb(68, 152, 184);/*teal*/
  width: 100%;
  height: 200px;
  display: inline;
  position: fixed;
  top: 0px;
  left: 0px;
}

.site img {
  z-index: 3;
  top: 0px;
  left:0px;
  border: solid;
  color: inherit;
}
/*social*/


.social img {
  z-index: 5;
  margin: 1em 1em 1em 1em;
  padding: 1em;
  border: none;
  float: right;
}

.social img:hover {
  margin-bottom: 1em;
}

/*Navigation Bar*/
.navigation {
  background-color: rgb(100, 68, 184);/*purple*/
  width:100%;
  height:50px;
  position: fixed;
  margin-top: 200px;
}

.navigation a {
  display:inline-block;
  color: inherit;
  margin: 2em;
  text-decoration:none;
}

.navigation a:hover {
  font-style: italic;
}

/*Activities*/

.activities {
  background-color: rgb(68, 152, 184);/*teal*/
  width:100%;
  height: 400px;
  margin-top: 350px;
  display: inline;
  float:left;
}

.adult img {
  align-items: center;
}

  .adult {
    background-color: rgb(68, 152, 184);/*teal*/
    width:300px;
    height: 300px;
    position: relative;
    top:350px;
    padding-left: 50px;

  }

  .kid img {
    align-items: center;
  }

  .kid {
    background-color: rgb(68, 152, 184);/*teal*/
    width:300px;
    height: 300px;
    position: relative;
    top:350px;
    padding-left: 50%;
  }

  .family img {
    align-items: center;
  }

  .family {
    background-color: rgb(68, 152, 184);/*teal*/
    width:300px;
    height: 300px;
    position: realative;
    top:350px;
    padding-right: 50px;
  }

/*Paragraph*/

.main {
  background-color: rgb(68, 152, 184);/*teal*/
  color: rgb(184, 68, 94);/*Mauve*/
  border:;
  padding:10px;
  overflow: inherit;
}

h1 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  color: inherit;
  text-align: center;
  letter-spacing: 6em
  font-size: 10em
  line-height: 2em
}

h2 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  color: inherit;
  text-align: center;
  letter-spacing: 4em
  line-height: 2em
}

h3{
  font-family: 'Alegreya', serif;
  text-align: center;
  letter-spacing: .01em
  line-height: 0.75em

}


</body>
